//colors
$white: #fff;
$black: #000;
$backColor: #f6f2f2;
$btnColor: #D24D57;
$headColor: #312f30;
$bgblock:#f5f0dd;
$grey:#e5e5e5;
$test:#D24D57;



//fonts
$iconFont: 'socialico';
$mainFont: 'Open Sans';

//rgba
$pcolor: rgba(0, 0, 0, 0.7);

//screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';